section .active{
    background: #dc8e00 !important;
    border: 1px solid #9a6400 !important;
}

.image{
    width: 60%;
    float: left;
    margin-right: 16px;
}

.card-sh{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
    margin-top: 20px;
}

.img{
    width: 100%;
}